<div class="container">
  <h3>
    Welcome to the javascript quiz application!
  </h3>
  <p>This is a simple application to play around with creating a single-page application using Javascript, JQuery, and AJAX to let a user take a quiz and get feedback all on one page</p>
  <button id="get_quizzes">
    click here for quizzes
  </button>
</div>
<div class='status_bar'></div>